@import "tailwindcss";
/* choose one of the following */

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-page-name {
  font-family: "Kolker Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
}

h4 {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.marck-script-regular {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}
img {
  height: 500px;
  margin-left: 11rem;

  border-right: 6px solid blueviolet;
  border-bottom: 6px solid blueviolet;

  box-shadow: 12px 12px 0 rgba(138, 43, 226, 0.3);
}
.molle-regular-italic {
  font-family: "Molle", cursive;
  font-weight: 400;
  font-style: italic;
}
