@import "tailwindcss";

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Kolker Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
}

h4 {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
